* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Old Standard TT", sans-serif;
  color: #434455;
  background: #181511;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: "Old Standard TT", sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ===== HEADER ===== */
.header {
  background: #181511;
  height: 88px;
}
.header .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 28px;
}
.logo-header {
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: #ffae2b;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-item {
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  color: #aca592;
}
.header-link {
  display: flex;
  align-items: center;
  padding: 28px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  color: #ffae2b;
}
.navigation a:hover,
.navigation a:focus {
  color: #fce575;
}
.navigation li:first-child a:active {
  text-decoration: underline;
}
.navigation li:first-child a:hover,
.navigation li:first-child a:focus {
  color: #ff9e01;
}
.header-btn {
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  color: #ffae2b;
  border: 1px solid #ffae2b;
  width: 147px;
  height: 52px;
  background: #181511;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover,
.header-btn:focus {
  background-color: #f1dcba;
  color: #181511;
  font-weight: 700;
  border: 2px solid #8b5703;
}
#hero {
  background-color: #fff;
  background-image: url(../images/hero-image-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 150px 0;
}
.hero-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #ffae2b;
  margin-bottom: 15px;
  text-align: center;
}
.hero-title {
  font-weight: 400;
  font-size: 70px;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  max-width: 870px;
  margin-bottom: 35px;
  text-align: center;
}
.hero-btn {
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  color: #181511;
  background: #ffae2b;
  width: 143px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ffae2b;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #181511;
  color: #ffae2b;
  font-weight: 700;
  border: 2px solid #8b5703;
}
#template {
  padding: 120px 0;
  background: #181511;
}
.template-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #aca592;
  margin-bottom: 10px;
}
.template-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16667;
  text-align: center;
  color: #ffae2b;
  margin-bottom: 60px;
}
.template-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.template-list-item {
  width: calc((100% - 40px) / 3);
}
.template-card {
  display: flex;
  align-items: center;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
  background: #181511;
  border: 1px solid #4b4136;
  transition: box-shadow 0.3s ease;
}
.template-card:hover,
.template-card:focus-within {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}
.template-img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.template-card:hover .template-img,
.template-card:focus-within .template-img {
  transform: scale(1.05);
}
.card-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.76923;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.3s ease;
  text-align: center;
}
.template-card:hover .card-text,
.template-card:focus-within .card-text {
  transform: scale(1.1);
  text-decoration: underline;
}
.section-img {
  position: relative;
  height: 573px;
  background: #161616;
  overflow: hidden;
}
.section-img img {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1656px;
  height: auto;
}
.our-services {
  background: #181511;
  padding: 120px 0;
}
.services-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #aca592;
  margin-bottom: 10px;
}
.services-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16667;
  text-align: center;
  color: #ffae2b;
  margin-bottom: 60px;
}
.services-list {
  display: flex;
  flex-wrap: nowrap;
}
.services-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
  border: 1px solid #4b4136;
  width: 400px;
  height: 350px;
  box-sizing: border-box;
}
.services-social-icon {
  margin-bottom: 20px;
}
.card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41667;
  color: #ffae2b;
  margin-bottom: 10px;
  text-transform: none;
}
.card-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.73333;
  color: #aca592;
  margin-bottom: 5px;
  white-space: nowrap;
  max-width: 193px;
  text-transform: none;
}
.card-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 2.36364;
  color: #aca592;
  text-transform: none;
  text-align: start;
}
.instagram {
  background: #181511;
  padding: 20px 0;
  border-top: 1px solid #4b4136;
}
.instagram-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.instagram-item {
  position: relative;
  width: 217px;
  height: 240px;
}
.instagram-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.instagram-icon {
  width: 50px;
  height: 50px;
  fill: #fff;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  transition: fill 0.3s ease;
}
.instagram-item:hover .instagram-icon,
.instagram-item:focus-within .instagram-icon {
  fill: #ffae2b;
}
.instagram-center {
  width: 200px;
  height: 240px;
  margin: 0 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.instagram-bg {
  fill: rgba(255, 255, 255, 0.19);
  width: 200px;
  height: 200px;
}
.instagram-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instagram-title {
  font-size: 40px;
  line-height: 1.25;
  color: #ffae2b;
  margin-bottom: 40px;
  white-space: nowrap;
}
.instagram-btn {
  background: #ffae2b;
  border: none;
  padding: 10px 20px;
  color: #181511;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  cursor: pointer;
}
.instagram-btn:hover,
.instagram-btn:focus {
  background-color: #f1dcba;
  color: #181511;
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  border: 2px solid #8b5703;
}
.footer {
  margin-top: 120px;
  background: #181511;
}
.footer-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16667;
  text-align: center;
  color: #ffae2b;
  margin-bottom: 20px;
}
.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.33333;
  text-align: center;
  color: #aca592;
  margin-bottom: 82px;
}
.footer-subscribe-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #aca592;
  margin-bottom: 20px;
}
.span-subscribe {
  color: #ffae2b;
  text-decoration: none;
}
.span-subscribe:hover,
.span-subscribe:focus {
  color: #fce575;
  text-decoration: underline;
}
.footer-social-list {
  margin-bottom: 20px;
  padding: 4px 0;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.footer-social-item {
  list-style: none;
  width: 48px;
  height: 48px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border: 1px solid #4b4136;
  background-color: #181511;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background: #fce575;
  border-color: #ffae2b;
}
.footer-social-link:hover .footer-social-icon {
  fill: #181511;
}
.footer-end {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4b4136;
  padding: 20px 0;
}
.footer-end-list {
  display: flex;
  gap: 12px;
}
.footer-end-list-item {
  position: relative;
}

.footer-end-link {
  font-weight: 400;
  font-size: 11px;
  line-height: 2.72727;
  color: #ffae2b;
}
.footer-end-link:hover,
.footer-end-link:focus {
  color: #fce575;
}
.footer-end-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  color: #aca592;
}
.span-end {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  color: #ffae2b;
  text-decoration: none;
}
.span-end:hover,
.span-end:focus {
  color: #fce575;
  text-decoration: underline;
}
.decor-black {
  width: 420px;
  height: 59px;
  background: #181511;
  border: 1px solid #4b4136;
}
.decor-yellow {
  width: 420px;
  height: 59px;
  background: #ffae2b;
}
.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.footer-end-list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #4b4136;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14286;
  color: #4b4136;
}
